<div class="card" style="border-color: {{ this.article.color}}">
  <div class="card-body">
    <p class="text-end float-end">
      <button (click)="details()" class="btn btn-outline-info me-2" aria-label="Detail of the article"><img width="96" height="96" src="assets/icons/icons8_uchiha_eyes_96px.png" class="img-fluid" alt="Images d'un oeil"></button>
      <button (click)="delete()" class="btn btn-outline-danger" aria-label="Delete the article"><img width="96" height="96" src="assets/icons/icons8_recycle_bin_96px.png" class="img-fluid" alt="Images d'une poubelle de recyclage."></button>
    </p>
    <p class="card-title h5">{{this.article.title}}</p>
    <p class="card-text text-truncate">{{this.article.content}}</p>
  </div>
  <div *ngIf="author" class="card-footer text-muted">
    <p class="card-text">{{this.author.name}} {{ this.author.firstname }}</p>
  </div>
</div>
