<div class="card" style="border-color: {{ this.article.color}}">
  <div class="card-body">
    <p class="text-end float-end">
      <button (click)="details()" class="btn btn-outline-info me-2" aria-label="Detail of the article"><i class="fas fa-eye"></i></button>
      <button (click)="delete()" class="btn btn-outline-danger" aria-label="Delete the article"><i class="fas fa-trash"></i></button>
    </p>
    <p class="card-title h5">{{this.article.title}}</p>
    <p class="card-text text-truncate">{{this.article.content}}</p>
  </div>
  <div class="card-footer text-muted">
    <p class="card-text">{{this.author.name}} {{ this.author.firstname }}</p>
  </div>
</div>
