<div class="container">
  <nav class="navbar bg-light">
    <div class="d-flex row">
      <a class="navbar-brand" href="#"><img src="assets/icons/icons8_snorlax_96px.png" width="96" height="96" class="img-fluid iconSite" alt="Images d'un article."> Silvain's web site</a>
      <div class="nav-item p-2 m-auto col-sm-3 btn text-right">
        <a class="nav-link active" routerLink="/articles"><img width="96" height="96" src="assets/icons/icons8_document_96px.png" class="img-fluid" alt="Images d'un article."> Articles</a>
      </div>
      <div class="nav-item p-2 m-auto col-sm-4 btn text-right">
        <a class="nav-link active" routerLink="/create"><img width="96" height="96" src="assets/icons/icons8_add_list_96px.png" class="img-fluid" alt="Images d'un ajout d'un article."> New Article</a>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
